/* Add custom CSS styles below */ 

:root {
    --main-color: #454f36;
    --second-color: #ffb000;
    --third-color: #fff;
    --fourth-color: #151515;
    --hover-color: #ffb000;
    --bg: #fff1d8;
    --logo: url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/VADPv/qNWsJNZOMKnovu7p1G7D1WEGoYFZxPQOAkCB666o.png)
}

body, .banner--fixed img, .banner-entry {
  background: var(--bg);
}
@media (min-width: 1024px) {
    .main-nav-container, .top-navbar {
        background: var(--main-color);
        color: var(--second-color);
    }
}
@media only screen and (min-width: 1024px) {
    .main-menu li>a:hover {
        color: var(--third-color);
    }
}
.main-menu>li>a[href*=offer], i.header-btn__icon.sicon-user-circle, i.header-btn__icon.icon.sicon-shopping-bag {
    color: var(--second-color) !important;
}
.navbar-brand img, .main-nav-container.fixed-pinned .navbar-brand img {
    max-height: 4em;
}
.s-block:first-of-type .container {
  max-width: 100% !important;
}
.s-block:not(:first-of-type),
.s-block--features__item,
.s-block--features__item:hover {
  margin-top: 30px;
}
.s-block--features__item {
    background: var(--main-color);
}
.s-block {
  margin-top: unset;
}
.s-slider-block__title {
    place-self: center;
}
.s-slider-block__title-right:where([dir="rtl"], [dir="rtl"] *) {
    padding-left: 0rem;
}
/* Navbar & Footer */
.store-footer h3,
.topnav-is-dark .top-navbar {
    background-color: var(--main-color) !important;
}
input.s-search-input {
    background: #6d6842 !important;
    color: var(--second-color) !important;
}

.s-search-input-wrapper {
    box-shadow: var(--main-color) -1px 2px 16px;
}

.s-product-card-content-title a,
.s-search-icon svg,
.s-slider-block__title h2,
.store-footer a,
.store-footer p
{
    color: var(--main-color);
}
.s-product-card-price, .s-product-card-sale-price h4 {
    color: var(--second-color) !important;
    font-weight: bold;
    font-size: 20px
}
.s-product-card-sale-price span {
    color: var(--main-color);
}
.copyright-text p,
.copyright-text p a {
    color: var(--second-color) !important;
}

/* Buttons */
.s-button-btn {
    position: relative;
    transition: .3s ease-in-out;
    box-shadow: 0 10px 20px var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    outline: 0;
    overflow: hidden;
}
.s-button-btn:hover {
    color: #fff;
}
.s-button-element:not(:disabled):not([loading]) {
    pointer-events: auto;
    border-color: var(--main-color);
    color: var(--second-color);
    background: var(--main-color);
    border-radius: 50px;
}
.s-button-wide {
    width: 70%;
    place-self: center;
}
.s-button-element:not(:disabled):not([loading]):hover {
    border-color: var(--main-color);
    color: var(--third-color);
}
.s-button-btn::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,#fff0 30%,#fffc,#fff0 70%);
    top: 0;
    left: -100px;
    opacity: .6;
}
.s-button-btn:hover::before {
    animation: 1.5s ease-out infinite shine;
}
@keyframes shine {
    0% { left: -100px; }
    60%,to { left: 100%; }
}
.s-product-card-image-contain {
    -o-object-fit: cover;
    object-fit: cover;
}
/* Slider */
.s-slider-block__title h2::after {
    bottom: -10px;
    height: 2px;
    width: 100%;
    position: relative;
    content: "";
    display: block;
    background-color: var(--main-color);
}
.s-slider-block__title h2:where([dir=rtl],[dir=rtl] *) {
    padding-left: 0 !important;
}
.s-slider-block__title-left { display: none; }

/* Cards */
.s-product-card-content-sub:hover,
.s-product-card-content-title a:hover,
.s-products-slider-card:hover {
    color: var(--hover-color);
}
.s-product-card-vertical {
    transition: .3s ease-out;
    border: 1px solid var(--main-color);
}
.s-product-card-vertical:hover {
    box-shadow: var(--hover-color) -1px 2px 16px;
}
.s-product-card-image img { max-width: 100%; }
.s-product-card-content { color: #000; }
.s-product-card-content a {
    color: var(--main-color);
    text-align: center;
}
.s-product-card-content-sub {
    justify-content: center;
    color: var(--hover-color);
}
.s-product-card-vertical .s-product-card-wishlist-btn button {
    background-color: var(--hover-color) !important;
}

/* Banners */
.banner-entry {
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  border-radius: 12px;
  overflow: hidden;
}


/* Footer */
.footer-is-light .store-footer,
.store-footer .contact-social ul,
.store-footer__inner {
    background: var(--main-color) !important;
}
.store-footer h3 {
  background-color: var(--third-color) !important;
  color: var(--second-color) !important;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.3rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  width: 100%;
  text-align: center;
}
.s-menu-footer-list,
p.max-w-sm.leading-6.mb-6 {
  text-align: center;
}
.store-footer a,
.store-footer p, .s-trust-badges-label, .s-trust-badges-number, b.text-sm {
    color: var(--second-color);
    font-weight: bold;
}
p.text-gray-400 { color: var(--second-color) !important; }
.store-footer .store-footer__inner:before {
    content: "";
    display: block;
    height: 110px;
    width: 110px;
    margin: auto auto 20px;
    background: var(--logo) no-repeat center / contain;
    animation: sigal 1.2s linear infinite;
    border-radius: 100%;
}
@keyframes sigal {
  0% { filter: drop-shadow(2px 4px 6px #504d46); }
  100% { filter: none; }
}
.s-slider-nav-arrow,
.header-btn__icon,
.footer-is-light .store-footer .social-link,
.store-footer a .rtl\:ml-2\.5 {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.copyright-text { color: #FFF; }
.copyright-text > a { color: var(--second-color); }

/* Features */
.s-block--features__item,
.s-block--features__item:hover {
    margin-top: 20px;
    box-shadow: 0 10px 17px rgba(0,0,0,.6), 10px 10px 20px rgba(0,0,0,.2);
}
.s-block--features__item .feature-icon {
    background-color: var(--main-color);
    height: 5rem;
    width: 5rem;
  color: #f6b400;

  box-shadow:
    0 10px 50px 0px var(--second-color),
    0 0 0px var(--second-color);
}
.s-block--features__item .feature-icon i {
    color: var(--second-color);
    font-size: 60px;
}
section.s-block.s-block--features.container {
    text-align: center;
}
section.s-block.s-block--features.container:before {
    content: "مميزات المتجر";
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 2px;
}
.s-block--features__item h2, .s-block--features__item p {
    color: var(--second-color);
}

/* Animations & performance */
@keyframes fade-in {
    0%,75% { opacity:1; transform:scale(1); }
    100% { opacity:0; transform:scale(.1); }
}
@media (prefers-reduced-motion: reduce) {
    * { animation:none!important; transition:none!important; scroll-behavior:auto!important; }
}

/* Layout Tweaks */
@media only screen and (min-width:1024px){
    .main-menu li>a {
        padding-left:.55rem!important;
        padding-right:.55rem;
    }
}
@media (min-width:768px) {
    salla-slider.photos-slider .swiper:where([dir=rtl],[dir=rtl] *) { padding-left:0!important; }
}
@media (max-width:1024px) {
    salla-slider.photos-slider .swiper:where([dir=rtl],[dir=rtl] *) {
        width:100%!important;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width: 520px){
    .container.grid.grid-col-1.lg\:grid-cols-6.gap-8.lg\:gap-6 {
         grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* Lazy load */
.lazy-container {
    content-visibility: auto;
    contain-intrinsic-size: 300px;
}
body.loading *:not(.loader) { display: none !important; }
.s-contacts-list { align-items: center; }

.flex.whitespace-nowrap.gap-4.items-center {
    display: block;
}
.s-product-card-content-sub {
    margin-bottom: 5px;
}
.s-product-options-wrapper,
section.flex.bg-white.p-5.sm\:pb-0.rounded-md.rounded-b-none,
section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none,
.bg-white.py-2\.5.mb-5.rounded-md.inline-flex.text-sm{
    background: var(--bg)
}
@media (min-width: 768px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .two-row .banner-entry:first-child {
        grid-column: unset;
        grid-row: unset;
    }
}
@media (min-width: 970px) {
    .container:has(div[data-bg="https://cdn.files.salla.network/homepage/1798160400/6147a76d-695b-46b2-bbde-08b18c7c9f74.webp"]) {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  .s-block--banners .banner-entry {
  height: 80px !important;       /* ارتفاع ديناميكي */
}
}


.s-product-card-content, .s-product-card-vertical{
    background: #fff5e3 !important;
}
.s-product-card-image img.loaded {
    width: 100% !important;
}  
.s-product-card-content-subtitle {
    display: none;
}
.s-product-card-vertical {
    border: 2px solid var(--main-color);
}

.md\:flex.items-center.justify-between.py-4.container.text-center {
    background: var(--main-color);
    place-content: center;
    gap: 20px;
}

@media (min-width: 1280px) {
    .container:has(span[class="text-sm copyright-text"]) {
        max-width: 100%;
    }
}

.s-cart-summary-total, a.s-menu-topnav-item.topnav-link-item.right-side, .s-contacts-topnav-link:where([dir=rtl],[dir=rtl] *) {color: var(--second-color);}
@media only screen and (min-width: 1024px) {
    .main-menu li>a:hover {
        color: var(--third-color);
    }
}
@media only screen and (min-width: 1024px) {
    .main-menu>.has-children:hover>a {
        color: var(--third-color);
    }
}
.container:has(img[src="https://cdn.files.salla.network/homepage/1798160400/626b4311-2759-46bb-b2c5-af14b220ee3c.webp"]) {
    padding-left: 0px;
    padding-right: 0px;
}
.main-nav-container {
    background: var(--main-color);
}
i.sicon-menu.text-primary.text-2xl {
    color: var(--second-color) !important;
}
.s-block__title {
    justify-content: center;
    color: var(--main-color);
}
.s-block__title .right-side:where([dir=rtl],[dir=rtl] *) {
    padding-left: 0rem;
}
.max-w-sm.leading-6.mb-6 {
    text-align: center;
    place-self: anchor-center;
}
.flex.gap-4 {
    justify-content: center;
}
.s-social-list {
    justify-content: center;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
