:root {
  --second-color: #8077a6;
  --main-color: #f7b3c0;
  --third-color: #fff;
  --hover-color: #f7b3c0;
  --logo: url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/YgQNKj/je8ux9ouPd21yBssLnT8gbQ8vN1x5zcFbwWTnO2y.png);
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: var(--third-color) var(--logo) no-repeat center;
  background-size: 160px;
  animation: fade-in 0.5s;
  transform: scale(0);
  border: none;
}

@keyframes fade-in {
  0%, 75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(.1);
  }
}

.topnav-is-dark .top-navbar {
  background-color: var(--second-color) !important;
}
.navbar-brand img {
  max-height: 4rem !important;
  transition: 0.8s;
}
.navbar-brand img:hover {
  transform: rotate(360deg) scale(1.1);
}

@media only screen and (min-width: 1024px) {
  .main-menu li>a {
    padding: 0 0.55rem !important;
  }
}

.s-block:first-of-type .container {
  max-width: 100% !important;
}
.s-block:not(:first-of-type),
.s-block--features__item,
.s-block--features__item:hover {
  margin-top: 20px;
}
.s-block {
  margin-top: unset;
}

@media(min-width: 767px) {
  .s-block {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 1024px) {
  salla-slider.photos-slider .swiper-slide {
    width: 100% !important;
  }
}

.s-slider-block__title h2,
.s-product-card-content-title a,
.s-product-card-price {
  color: var(--second-color);
}

.s-slider-block__title h2:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 0rem !important;
}
.s-slider-block__title-left {
  display: none;
}
.s-slider-block__title h2::after {
  background-color: var(--main-color);
  content: "";
  position: relative;
  display: block;
  height: 2px;
  bottom: -10px;
  width: 100%;
}

.s-products-slider-card:hover,
.s-product-card-content-sub,
.s-product-card-content-sub:hover,
.s-product-card-content-title a:hover {
  color: var(--hover-color);
}

.s-product-card-vertical {
  transition: 0.3s ease-out;
  border: 1px solid var(--main-color);
}
.s-product-card-vertical:hover {
  box-shadow: var(--hover-color) -1px 2px 16px;
}

.s-product-card-image img {
  max-width: 100%;
  background: var(--third-color);
}
.s-product-card-content {
  color: black;
  text-align: center;
}
.s-product-card-content a {
  color: var(--second-color);
}

.s-product-card-vertical .s-product-card-wishlist-btn button {
  background-color: var(--hover-color) !important;
}

.s-product-card-content-footer salla-add-product-button .s-button-outline {
  position: relative;
  overflow: hidden;
  background-color: var(--second-color);
  color: var(--third-color);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.s-button-outline::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(25deg);
  transition: 0.5s ease;
}

.s-button-outline:hover::before {
  left: 100%;
}

@media (min-width: 768px), (max-width: 1024px) {
  salla-slider.photos-slider .swiper:where([dir="rtl"], [dir="rtl"] *) {
    padding: 0 1rem !important;
    width: 100% !important;
  }
}

.s-block__title,
.index .s-slider-block__title,
.s-block--categories .s-slider-block__title,
.s-product-card-starting-price,
.s-product-card-content-sub,
.s-social-list,
.store-footer__inner ul,
.s-contacts-list-vertical {
  justify-content: center;
  align-items: center !important;
  text-align: center;
}

button.s-button-primary {
  background: var(--second-color);
  color: var(--third-color);
}

section.s-block--features.container:before {
  content: "ما يميزنا";
  color: var(--second-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 2px;
}

.s-block--features__item .feature-icon {
  height: 6rem !important;
  width: 6rem !important;
  background-color: var(--third-color);
}
.s-block--features__item .feature-icon i {
  font-size: 5rem;
  color: var(--second-color);
}

.banner-entry {
  background: transparent !important;
}
.md\:grid-cols-2 {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.footer-is-light .store-footer .store-footer__inner, .store-footer .contact-social ul {
    background: #82120fe8;
}

.store-footer h3 {
  background-color: var(--third-color) !important;
  color: var(--second-color) !important;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.3rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  width: 100%;
}

.store-footer a, .store-footer p {
    color: var(--third-color)
}

p.text-gray-400 {
  color: var(--second-color) !important;
}

.store-footer .store-footer__inner:before {
  content: "";
  display: block;
  height: 110px;
  width: 140px;
  margin: auto auto 20px;
  background: var(--logo) no-repeat center/contain;
  animation: sigal 1.2s linear infinite;
}

@keyframes sigal {
  0% { filter: drop-shadow(2px 4px 6px #504d46); }
  100% { filter: none; }
}

.s-slider-nav-arrow,
.header-btn__icon,
.footer-is-light .store-footer .social-link,
.store-footer a .rtl\:ml-2\.5 {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.store-footer__inner {
    background: var(--second-color) !important;
}

.footer-is-light .store-footer .store-footer__inner,
.store-footer .contact-social ul {
  text-align: center !important;
  justify-content: center !important;
}

.store-footer__inner {
  border-radius: 20px !important;
}

@media only screen and (min-width: 600px) {
  .lg\:grid-cols-6 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:col-span-2 {
    grid-column: span 1 / span 1;
  }
}

.copyright-text > a {
  color: var(--second-color);
}
