/* 🎨 Colors */
:root {
  --main-color:#384b72;
  --second-color:#7e071a;
  --third-color:#fff;
  --hover-color:#7e071a;
}
/* 🌐 Font */
*,html,body {font-family:cairo!important}

/* 📝 Titles */
.s-block__title.relative {
  flex-direction:row!important;
  justify-content:space-between!important;
}

/* 💳 Installments */
.installment-info img,
.installment-info svg {height:1rem;width:auto}
.installment-info .installment-amount,
.installment-info .sicon-sar {color:#000!important}
.installment-info span.installment-label {font-size:.9375rem!important;line-height:1}
@media (min-width:640px){.installment-info{font-size:.875rem}}

/* 🖼️ Slider */
.s-block--main-slider-1 .flex .block-inner h2,
.s-block--main-slider-1 .flex .block-inner p,
.s-block--main-slider-1 .flex .block-inner span {opacity:0}
@media(max-width:767px){
  .bg-cover{background-size:contain}
  .s-block--main-slider-1 salla-slider.s-slider-v-centered .s-slider-container{padding-top:0}
}

/* 🛒 Products */
.card--contain .product-entry__image-main img {object-fit:cover}

/* 🔘 Buttons */
.s-button-primary {
  background-color:var(--main-color);
  color:var(--third-color);
}
.s-button-primary:hover {
  background-color:var(--hover-color);
  border-color:var(--hover-color);
  color:var(--third-color);
}

/* 📝 Text */
.container .text-sm .text-gray-400 {color:var(--main-color)}

/* 📱 Icons */
i.sicon-whatsapp2 {background:#45c654;border:4px solid #FFE}
i.sicon-iphone {color: var(--third-color);background:var(--second-color);border:4px solid #FFF}
.floating-contacts__icon {
  background:var(--second-color);
  color:var(--third-color);
}
.floating-contacts__icon:hover {background:var(--main-color)}
a.w-full.transition-all.duration-300.relative.overflow-hidden.min-h-\[140px\].rounded.group-hover\:rounded-b {
    background: transparent !important;
}
