/* Add custom CSS styles below */ 
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
    --main-color:#2a4fda;
    --second-color:#000;
    --third-color:#FFF;
    --hover-color:#17140c;
    --logo:url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/GYnwnv/s2Y8grv5G6kPFQN6mnfmPKynUYsldBYoOkrV3Qho.png)
}
body{
    font-family:'Cairo',sans-serif;
    background:#FFF
}
.navbar-brand img,.main-nav-container.fixed-pinned .navbar-brand img{
    max-height:5rem
}
@media only screen and (min-width: 1024px) {
    .main-menu li.root-level {
        color: var(--main-color);
    }
    .top-navbar {
        background-color: var(--main-color);
        color: var(--third-color);
    }
    .s-cart-summary-total {color: var(--main-color)}
}
@media (min-width: 1280px) {
.main-nav-container .inner .container {
    max-width: 75% !important;
}
.main-nav-container {
    height: 100px !important;
}
}

.s-block:not(:first-of-type),.s-block--features__item,.s-block--features__item:hover{
    margin-top:20px
}
.s-block{
    margin-top:unset
}
.s-block .container{
    max-width:100%
}
.store-footer h3,.topnav-is-dark .top-navbar{
    background-color:var(--main-color)!important
}
.s-product-card-content-title a,.s-search-icon svg,.s-slider-block__title h2,.store-footer a,.store-footer p,i.header-btn__icon.icon.sicon-shopping-bag,i.header-btn__icon.sicon-user-circle{
    color:var(--main-color)
}
.s-product-card-price{
    color:#F00
}
.copyright-text p,.copyright-text p a{
    color:#FFF!important
}
.s-button-btn{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
    transition:.3s ease-in-out;
    box-shadow:0 10px 20px var(--main-color);
    outline:0;
    overflow:hidden
}
.s-button-btn:hover{
    color:#fff
}
.s-button-element:not(:disabled):not([loading]){
    border-color:var(--main-color);
    background:var(--main-color);
    color:var(--third-color);
    pointer-events:auto
}
.s-button-element:not(:disabled):not([loading]):hover{
    border-color:var(--main-color);
    color:var(--third-color)
}
.s-button-btn::before{
    content:"";
    position:absolute;
    top:0;
    left:-100px;
    width:100px;
    height:100%;
    background-image:linear-gradient(120deg,#fff0 30%,#fffc,#fff0 70%);
    opacity:.6
}
.s-button-btn:hover::before{
    animation:shine 1.5s ease-out infinite
}
@keyframes shine{
    0%{
        left:-100px
    }
    60%,100%{
        left:100%
    }
}
.s-slider-block__title h2::after{
    content:"";
    display:block;
    position:relative;
    bottom:-10px;
    width:100%;
    height:2px;
    background-color:var(--main-color)
}
.s-slider-block__title h2:where([dir=rtl],[dir=rtl] *){
    padding-left:0!important
}
.s-product-card-content-sub:hover,.s-product-card-content-title a:hover,.s-products-slider-card:hover{
    color:var(--hover-color)
}

.s-product-card-image img{
    max-width:100%
}
.s-product-card-content{
    color:#000
}
.s-product-card-content a{
    color:var(--main-color);
    text-align:center
}
.s-product-card-content-sub{
    justify-content:center;
    color:var(--hover-color)
}
.s-product-card-vertical .s-product-card-wishlist-btn button{
    background-color:var(--hover-color)!important
}
.banner-entry{
    display:block;
    width:100%;
    height:250px;
    border-radius:12px;
    background:center/cover no-repeat;
    overflow:hidden
}
@media(min-width:768px){
    .banner-entry{
        height:350px
    }
}
@media(max-width:720px){
    .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8{
        grid-template-columns:repeat(auto-fit,minmax(0,1fr))
    }
    .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 .banner-entry{
        height:100px!important
    }
}
.footer-is-light .store-footer,.store-footer .contact-social ul{
    background:var(--main-color)!important
}
.store-footer{
    background:linear-gradient(150deg,#ffffff,rgb(3 54 245));
    padding:30px;
    font-size:14px;
    border-top-left-radius:125px;
    border-top-right-radius:125px;
    text-align:center
}
.store-footer__inner{
    text-align:center;
    background:transparent!important;
    border-radius:20px!important
}
.store-footer__inner .flex{
    justify-content:center
}
.store-footer__inner .max-w-sm{
    margin:auto
}
.store-footer h3{
    color:var(--main-color)!important;
    background-color:var(--third-color)!important;
    font-size:1.3rem;
    font-weight:bold;
    text-align:center;
    padding:.3rem 0;
    border-radius:15px;
    box-shadow:rgba(0,0,0,.1) 0 4px 12px;
    width:100%;
    transition:.3s
}
.store-footer h3:hover{
    color:var(--second-color);
    cursor:pointer
}
.store-footer a,.store-footer p{
    color:var(--third-color)
}
.store-footer .store-footer__inner:before{
    content:"";
    display:block;
    height:110px;
    width:110px;
    margin:auto auto 20px;
    background:var(--logo) no-repeat center/contain;
    border-radius:100%;
    animation:sigal 1.2s linear infinite
}
@keyframes sigal{
    0%{
        filter:drop-shadow(2px 4px 6px #504d46)
    }
    100%{
        filter:none
    }
}
.s-menu-footer-list,p.max-w-sm.leading-6.mb-6{
    text-align:center
}
.s-slider-nav-arrow,.header-btn__icon,.footer-is-light .store-footer .social-link,.store-footer a .rtl\:ml-2\.5{
    box-shadow:rgba(0,0,0,.24) 0 3px 8px
}
.copyright-text{
    color:#FFF
}
.copyright-text>a{
    color:var(--third-color)
}
@keyframes fade-in{
    0%,75%{
        opacity:1;
        transform:scale(1)
    }
    100%{
        opacity:0;
        transform:scale(.1)
    }
}
@media(prefers-reduced-motion:reduce){
    *{
        animation:none!important;
        transition:none!important;
        scroll-behavior:auto!important
    }
}
@media only screen and (min-width:1024px){
    .main-menu li>a{
        padding-left:.55rem!important;
        padding-right:.55rem
    }
    salla-slider.photos-slider .swiper-slide{
        width:70%
    }
}
salla-slider.photos-slider .swiper{
    padding-bottom:1.5rem
}
@media(min-width:768px){
    salla-slider.photos-slider .swiper:where([dir=rtl],[dir=rtl] *){
        padding-left:0!important
    }
}
@media(max-width:1024px){
    salla-slider.photos-slider .swiper:where([dir=rtl],[dir=rtl] *){
        width:100%!important;
        padding-left:0;
        padding-right:0
    }
}
@media(min-width:520px){
    .container.grid.grid-col-1.lg\:grid-cols-6.gap-8.lg\:gap-6{
        grid-template-columns:repeat(4,minmax(0,1fr))
    }
}
.lazy-container{
    content-visibility:auto;
    contain-intrinsic-size:300px
}
body.loading *:not(.loader){
    display:none!important
}
.s-contacts-list{
    align-items:center
}
.tab-trigger{
    display:inline-block
}
.s-social-list{
    place-content:center;
    margin-top:10px
}

.s-block--features__item {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* ظل خفيف من اليمين وتحت */
  border-radius: 8px; /* اختياري - لتنعيم الحواف */
}
