/* Add custom CSS styles below */ 
.my-main-banner-0, .my-main-banner-0> .head_img {
height:100vh;
}
.my-main-banner-0 > .head_img > .items-center{
justify-content:  flex-end ;
align-items: flex-end ;
height:100vh;
}
.my-main-banner-0 div.mb-4{
margin-right:0px;
}
.my-main-banner-0 p{
width:100% !important;
max-width:100% !important;
}
.my-main-banner-0>.head_img>.items-center>.text-center {
text-align: start;
margin-left: auto;
max-width: 100%;
width: 52%;
margin-right: 3%;
margin-bottom:10%;
}
.my-main-banner-0 button{
background: #cfc0be;
color:#3C1144;
border:none;
}
@media screen and (max-width:991px){
.my-main-banner-0 , .my-main-banner-0 .head_img  {
height: 45vh;
}
.my-main-banner-0 > .head_img > .items-center {
justify-content: center;
align-items: center;
height: 45vh;
}
}
/*----------------------*/
/*------my-category----الاصناف-----*/
.my-category ul{
justify-content: center;
gap: 20px;
}
.my-category .font-bold{
color:#3C1144 !important
} 
.my-category {
margin-bottom: 0px;
margin-top:65px;
}
/*******************************/
/***********offers********************/
@media screen and (min-width:991px){
salla-add-product-button.my-12.hydrated {
margin-top: 0px !important;
}
.furnitur_offer .s-count-down-wrapper .s-count-down-list {
width: 100%;
}
div#swiper-wrapper-b7dbb6448d223558 div:nth-of-type(2) > div{
 display:none
 }
.flex.justify-between.items-center.rtl\:flex-col-reverse{
display: flex;
}
.max-h-\[400px\] {
max-height: 350px;
margin-right: 131px;
}
}
.my-offer{
margin-bottom:30px;
padding:30px;
}
.s-count-down-item-value {
    border-color: #c1acbf!important;
    color:#c1acbf!important
}
.s-count-down-item-label {
    color: #C1ACBE !important;
}
.my-offer > div > h1{
margin: 10px auto;
font-size: 40px !important;
background: linear-gradient(180deg, rgba(246,229,237,1) 0%, rgba(188,168,188,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight:bold;
}
/*#swiper-wrapper-1fe494f89a74d69d a{
max-height:450px;
}*/
.my-offer button{
background: linear-gradient(90deg, rgba(246,229,237,1) 0%, rgba(188,168,188,1) 100%);
margin-top:20px;
border-radius: 20px;
padding-top: 20px;
padding-bottom: 20px;
border:none !important;
color:#fff !important;
}
@media screen and (max-width:991px){
.furnitur_offer .s-slider-thumbs .s-slider-swiper-wrapper {
margin-bottom: 30px;
}
#swiper-wrapper-1fe494f89a74d69d a{
max-height:450px;
}
}
.s-count-down-md .s-count-down-item {
margin: 0px 20px;
}
.s-count-down-list .s-count-down-item::after {
left: -40% !important;
}
@media screen and (max-width:576px){
.my-offer > div > h1{
margin-bottom: 0px;
font-size:30px !important;

}
.my-offer p {
margin-top: 0px;
}
.furnitur_offer .s-slider-container {
margin-bottom: 20px;
}
.my-offer .my-12 {
margin-top: 0rem;
margin-bottom: 0rem;
}
.furnitur_offer .s-slider-container {
width: 100%;
}
.max-w-\[85\%\].m-auto.text-center {
width: 100% !important;
max-width: 100%;
}
.my-offer img.w-full.h-full {
width: 70%;
}
}
@media screen and (min-width:576px) and (max-width:1200px) {
.max-h-\[400px\] {
max-height: 400px;
max-width: 50%;
margin-bottom: 50px;
margin-right: auto;
margin-left: auto;
}
.furnitur_offer .s-slider-container {
width: 100%;
}
.max-w-\[85\%\].m-auto.text-center {
width: 100% !important;
max-width: 100%;
}
.my-offer img.w-full.h-full {
width: 60%;
}
}
 @media screen and (min-width:991px) and (max-width:1200px){
.furnitur_offer .s-slider-thumbs .s-slider-swiper-wrapper {
margin-top: 30px;
}
.my-offer .max-h-\[400px\] {
margin-right: 0px;
width: 70%;
margin: 30px auto;
}
.furnitur_offer .s-slider-container {
width: 100%;
}
}
/*----------------------------------*/
 @media screen and (min-width:991px){
.my-product-details .h-fit {
    height: 100% !important;
}
.my-product-details .grid.grid-cols-1.gap-1.lg\:grid-cols-2.grid-rows-1.lg\:gap-5 {
    height: 90vh;
}
}
/*------------my-fixed-banner----بانر ثابت----*/
.my-fixed-banner{
margin-bottom:40px
}
.my-fixed-banner button {
color: #fff!important;
border-color: #fff;
}
.my-fixed-banner button a{
color: #fff!important;
}

.my-fixed-banner  .absolute {
width: 100% !important;
left:0px;
top:unset;
bottom:10%;
}
/*------------------------*/
.secund-banner-11, .secund-banner-11> .head_img {
height:80vh;
margin-bottom:60px;
}
.secund-banner-11 button{
display:none;
}
.secund-banner-11 > .head_img > .items-center{

height:80vh;
}
@media screen and (max-width:991px){
.secund-banner-11 , .secund-banner-11 .head_img  {
height: 45vh;
}
.secund-banner-11 > .head_img > .items-center {
height: 45vh;
}
}
.my-info p{
color:#3C1144;
}
.my-info .shape{
background-color:#F6E5ED;
}
/*--------------------------*/
.banner--fixed img {
    background: unset !important;
     margin-bottom:30px ;
}
/*--------------النشره البريديه--------------*/

/*---------الفوتر --------------------*/
.store-footer__inner {
background: #F6E5ED!important;
}
.store-footer__inner *{
color:#3C1144;
}
@media screen and (max-width:991px){
.store-footer__inner *{
margin-left: auto;
margin-right: auto;
text-align: center;
}
}
/*--------my-brand--------*/
.my-brand .swiper.s-slider-container , .my-secund-brand .swiper.s-slider-container{
    padding-top: 30px;
}
.my-brand {
    margin-bottom: 0px;
}
.s-product-card-entry .s-product-card-content-footer .s-button-primary-outline {
background-color: var(--color-primary);
color: #FFF
}
.s-product-card-entry .s-product-card-content-footer svg path {
    fill: #FFF;
}
section.my-\[48px\].md\:my-\[66px\].opinions {
    background-color: #f6e5ed;
    padding: 30px
}
.main-nav-container .mobile-menu ul li a {
    color: #ffffff;
}
.main-nav-container .mobile-menu ul li .sub-menu ul {
    background: #3c1244;
}

@media (min-width: 920px) {
  .my-main-banner-0, .my-main-banner-0> .head_img {
    margin-top: 60px;
}
  .store-header .main-nav-container {
    min-height: 68px;
    background: #bbbbbf;
}
}
@media (min-width: 768px) {
    salla-slider.photos-slider .swiper:where([dir="rtl"], [dir="rtl"] *) {
        padding-left: 0rem;
    }
}
salla-slider.photos-slider .swiper-slide {
    width: 100% !important;
}
@media (min-width: 640px) {
    salla-slider[type]:not(.hydrated) > div > div, salla-slider[type]:not(.hydrated) .swiper > div > div > div, .carousel-slider .swiper-wrapper > div {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.s-slider-prev, .s-slider-next, .swiper-pagination {
    display: none;
}

@media (max-width: 1024px) {
    salla-slider.photos-slider .swiper:where([dir="rtl"], [dir="rtl"] *) {
        padding-right: 0rem;
        padding-left: 0rem;
        margin-top: 40px;
    }
  .my-category {
    margin-top: 35px;
}
}
.whatsapp-info {
    left: 30px;
    right: unset !important;
}
